server {
    server_name ${NGINX_HOST};
    listen ${NGINX_PORT} ssl;
    ssl_certificate /etc/nginx/ssl/.ssl.crt;
    ssl_certificate_key /etc/nginx/ssl/.ssl.key;
    client_max_body_size 4G;

    location / {
        proxy_set_header Host $http_host;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection $connection_upgrade;
        proxy_redirect off;
        proxy_buffering off;
        proxy_pass http://server-replicas;
    }

    if ($scheme != "https") {
        return 301 https://$http_host:${NGINX_PORT}$request_uri;
    }
}

map $http_upgrade $connection_upgrade {
    default upgrade;
    '' close;
}

upstream server-replicas ${NGINX_SERVER_REPLICAS}
