# editor directories and files
.idea/
.vscode/

# misc
.DS_Store

# env files
.env*

# secret files
.secret*

# dependencies
.venv/

# fastapi



########## ########## ########## ########## ##########
Dockerfile*
docker-compose*
.dockerignore*

.git/
.gitignore*
